sudo: false
os:
  - osx
  - linux

node_js:
  - "10"

before_install:
  - npm install -g npm@latest
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
      export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi

install:
  - npm install
  - npm run vscode:prepublish

script:
  - npm run test:coverage --silent
  - node_modules/.bin/coveralls < coverage/lcov.info;