**/tsconfig.json
.git
.gitignore
.travis*
*.vsix
.vscode*/**
typings/**
out/test/**
test*/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
coverage
template
gulp*
.appveyor.xml
tslint.json
.cover*
test-reports
build-scripts

