**/tsconfig.json
.git
.gitignore
.travis*
*.vsix
.vscode*/**
typings/**
out/test/**
test*/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
coverage
template
gulp*
.appveyor.xml
tslint.json
.cover*
test-report*
build-scripts
scripts/build/**
old.visx/**
sonar-project.properties
.scannerwork
.sonarlint
*.zip
