tsconfig.json
.git
.gitignore
.travis*
*.vsix
.vscode*/**
test*/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
coverage
template
gulp*
.appveyor.yml
tslint.json
.cover*
test-report*
build-scripts
scripts/build/
old.visx/
sonar-project.properties
.scannerwork
.sonarlint
*.zip
out/test/
src/
package-json.lock
webpack.config.js
tslint-report.json
npm-shrinkwrap.json
coverconfig.json
